name: " Nightly Build Workflow "

on:
  workflow_call:
    inputs:
      devel:
        description: 'Development mode (disables update checker, adds nightly qualifier)'
        type: boolean
        default: true
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        default: 'master'
      build-commit:
        description: 'Specify commit'
        type: string
        default: 'ecd01e13fd'

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  CPM_CACHE_VERSION: "v15"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  FORCE_PGO: "false"

jobs:
  clone:
    outputs:
      cachever: ${{ steps.out.outputs.cachever }}
      pgo: ${{ steps.out.outputs.pgo }}
    name: "Parse and Clone"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Parse Forgejo payload
        shell: bash {0}
        run: |
          echo '${{ toJSON(github.event.client_payload) }}' > ./payload.json
          cat payload.json
          commit=$(echo "${{ inputs.build-commit }}" | awk -F- '{print $NF}' | grep -E "^([A-Za-z0-9]{10,40})$")
          ./.ci/forgejonightly.sh --parse ${{ inputs.build-id }} $commit

      - name: Load payload environment
        shell: bash
        run: |
          . ./.ci/fj/load-env.sh

      # for some amazing reason you can't pass env vars to reusable workflows
      - name: Setup Outputs
        id: out
        shell: bash
        run: |
          echo "cachever=${CPM_CACHE_VERSION}" >> "$GITHUB_OUTPUT"
          echo "pgo=${FORCE_PGO}" >> "$GITHUB_OUTPUT"

      - name: Clone
        shell: bash
        run: |
          ./.ci/forgejonightly.sh --clone ${{ inputs.build-id }}

      - name: ReLoad payload environment
        shell: bash
        run: |
          . ./.ci/fj/load-env.sh

      - name: Apply Temporary Patch
        shell: bash
        run: |
          ./patchwindows.sh

      - name: ReLoad payload environment
        shell: bash
        run: |
          . ./.ci/fj/load-env.sh

      - name: Summary
        shell: bash
        run: |
          ./.ci/fj/summarynightly.sh ${{ inputs.build-id }}

      - name: Cleanup
        run: |
          rm -rf eden/.ci eden/.github

      - name: Upload payload environment
        uses: actions/upload-artifact@v6.0.0
        with:
          name: forgejo-env
          path: forgejo.env

      - name: Upload cloned repo
        uses: actions/upload-artifact@v6.0.0
        with:
          name: eden
          include-hidden-files: true
          path: |
            eden/*
            eden/.patch

  windows:
    name: "Windows"
    needs: [clone]
    uses: ./.github/workflows/windowsamd64.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
    secrets: inherit

  msys:
    name: "MinGW"
    needs: [clone]
    uses: ./.github/workflows/msysamd64.yml
    with:
      build-id: '${{ inputs.build-id }}'
      cpm-cache-version: '${{ needs.clone.outputs.cachever }}'
      devel: ${{ inputs.devel }}
      force_pgo: ${{ needs.clone.outputs.pgo }}
    secrets: inherit
