name: "FreeBSD"

on:
  workflow_call:
    inputs:
      build-id:
        description: 'Identifier for workflows and caching'
        type: string
        required: true
      cpm-cache-version:
        description: 'CPM Cache Version'
        type: string
        required: true
      devel:
        description: 'Development mode (disables update checker)'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}
  BUILD_ID: ${{ inputs.build-id }}

jobs:
  unix:
    name: "${{ matrix.os.name }} (${{ matrix.os.arch }})"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        os:
          - platform: freebsd
            name: FreeBSD
            arch: amd64
            vm-arch: x86_64
        compiler: [clang]
    env:
      ARCH: ${{ matrix.os.arch }}
      SCCACHE_DIR: ${{ github.workspace }}/.sccache
      TARGET: "${{ matrix.os.arch }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup
        uses: ./.github/workflows/setup
        with:
          key: ${{ matrix.os.name }}-${{ matrix.os.arch }}-${{ matrix.compiler }}
          version: ${{ inputs.cpm-cache-version }}

      - name: Configure sccache
        uses: actions/github-script@v8.0.0
        with:
          script: |
            core.exportVariable('ACTIONS_RESULTS_URL', process.env.ACTIONS_RESULTS_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
            core.exportVariable('ACTIONS_CACHE_SERVICE_V2', `on`);

      - name: Start VM (${{ matrix.os.name }})
        if: matrix.os.platform == 'freebsd'
        uses: vmactions/freebsd-vm@v1.3.9
        with:
          arch: ${{ matrix.os.vm-arch }}
          usesh: true
          envs: 'ARCH DEVEL TARGET CCACHE BUILD_ID SCCACHE_DIR SCCACHE_GHA_ENABLED ACTIONS_RESULTS_URL ACTIONS_RUNTIME_TOKEN ACTIONS_CACHE_SERVICE_V2'
          prepare: |
            pkg install -y \
              devel/sccache \
              ftp/wget \
              shells/bash

      - name: Install dependencies
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          ./.ci/freebsd/deps.sh

      - name: Configure
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          bash -ex ./.ci/common/configure.sh -DCCACHE_PATH=$(which sccache)

      - name: Build
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          cmake --build build
          cmake --install build --prefix install/usr

      - name: Package
        shell: freebsd {0}
        run: |
          cd "${{ github.workspace }}"
          ./.ci/freebsd/package.sh

      - name: rsync from qemu:artifacts to host:artifacts
        shell: bash
        run: |
          rsync -av -e ssh freebsd:${{ github.workspace }}/artifacts/ ${{ github.workspace }}/artifacts/
          rsync -av -e ssh freebsd:${{ github.workspace }}/.cache/ ${{ github.workspace }}/.cache/

      - name: Upload Binary
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.os.platform }}-binary-${{ matrix.os.arch }}-${{ matrix.compiler }}
          path: ./artifacts/*
